    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
    * {
        margin: 0%;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 4px;
    }
    
    .container {
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        display: flex;
    }
    
    .btn-1 {
        height: 100px;
        width: 300px;
        border: none;
        color: white;
        background-color: rgb(255, 0, 68);
        border-radius: 4px;
        box-shadow: inset 0 0 0 0 #fffb12;
        transition: ease-out 0.3s;
        font-size: 2rem;
        outline: none;
    }
    .btn-1:hover {
        box-shadow: inset 300px 0 0 0 yellow;
        color: black;
        cursor: progress;
        
    }
    
    .btn-2 {
        height: 100px;
        width: 300px;
        border: none;
        color: white;
        background-color: black;
        border: 4px solid cyan;
        border-radius: 4px;
        box-shadow: inset 0 0 0 0 rgb(30, 250, 30);
        transition: ease-out 0.4s;
        font-size: 2rem;
        outline: none;
        position: relative;
        z-index: 1;
    }
    
    .btn-2:hover {
        transition: ease-in 0.4s;
        box-shadow: inset 0 300px 0 0 rgb(30, 250, 30);
        color: rgb(0, 0, 0);
        cursor: pointer;
        border-color: rgb(6, 114, 20);
    }
    
    body {
        text-align: center;
    }
    
    .dark-mode {
        background-color: black;
        color: white;
    }
    
    section {
        padding: 50px 50px;
        background-color: rgb(160, 39, 39);
        border-radius: 0;
    }
    
    .dark {
        font-size: 1.7rem;
        background-color: rgb(255, 255, 255);
        padding: 25px;
        transition: ease-out 0.4s;
        box-shadow: 5px 5px 7px 0 black;
    }
    
    .dark:hover {
        color: whitesmoke;
        background-color: rgb(17, 17, 17);
        background-image: none;
    }
    
    a.click:link {
        transition: ease-out 0.2s;
        border-radius: 20px;
        background-color: #252121;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a.click:visited {
        border-radius: 20px;
        background-color: #161616;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a.click:hover,
    a.click:active {
        transition: ease-in 0.3s;
        background-color: red;
    }
    
    .newlink {
        word-spacing: 250px;
    }
    
    .btn3,
    .btn4 {
        font-size: 1.2rem;
        padding: 30px 30px;
        background-color: cyan;
        box-shadow: inset 0 0 0 0 magenta;
        transition: ease-out 0.3s;
    }
    
    .btn3:hover {
        color: rgb(255, 255, 255);
        transition: ease-in 0.5s;
        padding: 22px 22px;
        box-shadow: inset 0 200px 0 0 magenta;
        border: 4px lightblue solid;
        border-radius: 50px;
    }
    
    .btn4:hover {
        color: white;
        transition: ease-in 0.3s;
        box-shadow: inset 300px 0 0 0 crimson;
        padding: 35px 35px;
        border: darkblue 10px solid;
        border-radius: 10px;
    }