body{
    background-color: rgb(7, 7, 7);
}
hr{
    width: 50%;
}
.hr2 {
    
}
h1, p, form{
    color:rgb(53, 219, 53);
}
h1{
    border-style: double;
    border-color: indigo;
    border-radius: 15px;
    margin: 2%;
    margin-left: 500px;
    margin-right: 500px;
    padding: 2.5%;
    background-color: rgb(92, 4, 4);
}
a:link, a:visited {
    background-color: #355ee4;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
h3{ 
    border-radius: 15px;
    padding: 1%;
    color: rgb(17, 184, 31);
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgb(82, 74, 74);
}