@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(7, 7, 7);
    background-image: url(https://images.pexels.com/photos/270623/pexels-photo-270623.png?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

p.p1 {
    text-align: center;
}

a.link1 {
    padding-top: 0.5%;
    padding-bottom: 0.7%;
    padding-left: 1%;
    padding-right: 1%;
    color: chartreuse;
    background-color: rgb(1, 18, 73);
    border-radius: 15px;
    text-align: center;
}

a.link2 {
    padding-top: 0.5%;
    padding-bottom: 0.7%;
    padding-left: 1%;
    padding-right: 1%;
    color: chartreuse;
    background-color: rgb(64, 68, 80);
    border-radius: 15px;
    text-align: center;
}

.formarea{
    margin-left: 300px;
    margin-right: 300px;
    justify-content: center;
    background-color: rgb(199, 199, 199);
    padding: 50px;
    
}


h1,
p,
form {
    color: rgb(31, 165, 31);
}

h1 {
    border: 10px;
    border-style: solid;
    border-color: indigo;
    border-radius: 15px;
    margin: 0px;
    padding: 2%;
    background-color: rgb(19, 20, 19);
}

h3 {
    border-radius: 15px;
    padding: 1%;
    color: rgb(17, 184, 31);
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgb(82, 74, 74);
}

a.link3 {
    color: rgb(37, 199, 37);
    padding: 1%;
    border-radius: 15px;
    background-color: rgb(14, 3, 20);
}

a.link4 {
    padding-top: 0.5%;
    padding-bottom: 0.7%;
    padding-left: 1%;
    padding-right: 1%;
    color: chartreuse;
    background-color: rgb(1, 18, 73);
    border-radius: 15px;
    text-align: center;
}

a.link1:hover,
a.link1:active {
    color: rgb(247, 113, 4);
}

a:hover {
    color: rgb(218, 97, 17);
}

a.link2:hover {
    color: rgb(218, 97, 17);
}

a.link3:hover {
    color: rgb(218, 97, 17);
}

a.link4:hover {
    color: rgb(218, 97, 17);
}