body{
    background-color: rgb(7, 7, 7);
}

h1, p, form{
    color:rgb(53, 219, 53);
}
h1{
    background-color: rgb(54, 13, 13);
}
a:link, a:visited {
    background-color: #ca2317;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}